.div-pudding {
	width: 470px;
	padding: 40px 60px 48px 60px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 36px;
	text-align: center;
	background: rgba(200, 200, 200, 0.2);
	border-radius: 25px;
}

.div-pudding h1 {
	font-size: 2rem;
	margin-bottom: 20px;
	color: #EEE;
}