<div class="header">
<div class="header-content">
	<div class="navbar-header">  				
		<a class="navbar-brand" href="<?php echo $home; ?>"><img style="max-width: 55px; margin-top: -7px;" src="<?php echo $home."theme/images/logo.png"; ?>"/></a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="<?php echo $home.$links['event']; ?>">活动</a></li>
			<li><a href="<?php echo $home.$links['group']; ?>">群组</a></li>
			<li><a href="<?php echo $home.$links['info']; ?>">资讯</a></li>
			<li><a href="<?php echo $home.$links['help']; ?>">求助</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<?php 
				if ($auth['uid'] > 0) {
					echo "<li><a href=\"".$home.$links['auth']."handler.php\">".$auth['user'].": 退出</a></li>";
				}
				else {
					echo "<li><a href=\"".$home.$links['auth']."\">登录｜注册</a></li>";
				}
				?>
		</ul>
	</div>
</div></div>
