.create_group
{
	position: absolute;
	top: 100px;
	width: 100%;
}

.create_group-wrap 
{
	position: inherit;
	width: 100%;
	height: 600px;
	background-color: #CCC;
	opacity: 0.6;
	filter:alpha(opacity=60);
}

.create_group-middle 
{
	position: inherit;
	width: 100%;
	z-index: 101;
}

.close_create_group
{
	margin-left: 560px;
}

.create-group-form {
	width: 65%;
	margin: 0 auto;
}

.groupForm 
{
	width: 100%;
	height: auto;
}

.groupForm p
{
	margin: 5px 0;
}

.create_group_class
{
	display: block;
	width:100%;
	height: 35px;
	border: 1px solid #CCC;
	margin-bottom: 5px;
	padding-left: 10px;
}

.group_tag
{
	display: block;
	height: 65px;
}

.group_description 
{
	height: 75px;
	border: 1px solid #CCC;
	margin-bottom: 5px;
	padding-left: 10px;
	display: block;
	width: 100%;
}

.group_submit
{
	height: 35px;
	border: 0;
	margin: 20px auto;
	display: block;
	width: 25%;
	text-align: center;
	background: #ff8d00;
	color: white;
}